
<div>
    <article class="group grid rounded-xl max-w-6xl mb-8 md:grid-cols-12 overflow-hidden border border-slate-100 bg-slate-000 text-slate-700 dark:border-slate-700 dark:bg-slate-800 dark:text-slate-300">
      <!-- Image -->
      <div class="col-span-3 overflow-hidden">
        <img src="/assets/images/profile/user-1.jpg" class="h-52 md:h-full w-full" alt="a man wearing VR goggles" />
      </div>
      <!-- Body -->
      <div class="flex flex-col justify-center p-6 col-span-5">
        <h3 class="text-balance text-xl font-bold text-black lg:text-3xl dark:text-white" aria-describedby="articleDescription">Jose Luis Garcia Andreu</h3>
        <p id="articleDescription" class="my-4 max-w-lg text-pretty text-lg">
          <strong>Altura:</strong> 10<br>
          <strong>Peso:</strong> 120<br>
          <strong>Masa muscular:</strong><br>
          <strong>Grasa corporal:</strong><br>
        </p>
      </div>
      <!-- IMC  -->
      <div class="flex flex-col justify-center items-center p-6 col-span-4">
        <h4 class="text-balance text-xl font-bold text-black lg:text-3xl dark:text-white">IMC</h4>
        <p class="text-4xl font-bold text-primary dark:text-indigo-400">25</p>
      </div>

    </article>
</div>
<app-sales-overview-chart></app-sales-overview-chart>
<mat-card-title class="m-b-12">Rutinas guardadas</mat-card-title>

<app-cards></app-cards>